@import 'globalParams.scss';


.grid-wrapper{
  margin:auto;
position: relative;
width:1200px;
max-width:90vw;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
grid-gap: 40px;
justify-content: center;
}




  //////////// grid element width here




  .stars-img{
    position:absolute;
    width:400px;
    height:600px;
    margin-top:0px;
    z-index: -1;
}
  @keyframes stars-flow{
    0%{ margin-top:-420px; margin-left:-100px;}
    100%{margin-top:-118px; margin-left:-100px;}
  }

  @keyframes stars-flow2{
    0%{ margin-top:-420px; margin-left:-10px;}
    100%{margin-top:-118px; margin-left:-10px;}
  }

  .goback-button{
    background-color:rgb(27, 26, 26);
    margin-right: 20px;
    font-family:anton;
    padding:20px;
    border-radius: 20px;
    font-size:30px;
    border:5px solid black;
 
  }
  .row-align{
    
    display:flex;
    flex-flow:row wrap;
    align-items: center;
   align-content: center;
  }


 
  .custom-checkbox{
    width:40px;
    height:40px;
    background-color:blue;
  
  }

  .back-from-search-button{
    cursor: pointer;
 
    font-family: star-wars2;
    @include trans(0.5s);
    position:absolute;
    background-color:$c4;
    width:max-content;
    color:white !important;

    border-radius:5px;
    
    margin-top:1px;
  }
  .back-from-search-button:hover{
    text-shadow: $c3;
    text-shadow: 0 0 30px $c6,  0 0 20px $c6;
  }
  .back-from-click-button:hover {
    text-shadow: $c3;
    text-shadow: 0 0 30px $c6,  0 0 20px $c6;
  }
  .back-from-click-button{
    cursor: pointer;
    font-family: star-wars2;
    color:white;
    @include trans(0.5s);
    position:absolute;
    background-color:$c4;
    width:max-content;

 
    border-radius:5px;
   // margin-left:-140px;
    margin-top:1px;
    margin-left:20px;
}
.search-font-size{
  padding:19px;
  font-size:13px !important;
}
input:focus, textarea:focus, select:focus{
  outline: none;
}

  .search-input{
    margin-left:80px;
    letter-spacing: 3px;
    padding-left:20px;
    padding-right:120px;
    font-size:21px;
    color:white;
    border:0;
    background-color: $c4;
    width:730px;
    max-width: 50vw;
    height:60px;
    font-family: star-wars2;
    border-radius:15px;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .item-container{
    text-align: left;
  
    max-width:1200px;
    font-family: anton;
  }
  .search-grid-item{

    font-family:star-wars2;
    cursor: pointer;
    width: 200px;
    padding:20px;
    border-radius:10px;
    text-align: center;
    margin-top:20px;
 
    font-size:1.875rem;
    @include trans(0.5s);
    height: inherit;
    background-color:$c4;
  width:300px !important;
  border-radius:20px;
  }
  .search-grid{
    
    max-width:80vw;
  }
  .search-grid-item:hover{
 
  color:rgb(197, 60, 60) !important;
  font-family: star-wars2;
 
  transform: translateY(-10px);
  background-color:rgb(27, 26, 26)
  }


  .searched-records-button{
    height: inherit;
    font-family:star-wars2;

    width: 200px;
    padding:20px;
    border-radius:10px;
    text-align: center;
    margin-top:20px;
 
    font-size:30px;
    @include trans(1s);
  }

  .filter-options{
    @include trans(0.5s);
    opacity:0;
    max-width:30vw;
    width: max-content;
    position:absolute;
    margin-top:-9px;
    
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    
  }

  @keyframes fadeIn{
    0%{opacity:0}
    100%{opacity:1}
  }
  @keyframes fadeOut{
    0%{opacity:1}
    100%{opacity:0}
  }
  .section-display{
 
    margin-top:-60px;
    font-size:40px !important;
    color:white;
  

  
  }
  .project-tittle{
    margin:100px;
    color:white;

    border-width:max-content;
    
    font-family: star-wars2;
    text-align: center;
    font-size:3.8rem;
  }

  .dev-button{
    font-family: star-wars2;
    background-color:rgb(27, 26, 26);
    margin-top:10px;
    padding:10px;
    width:200px;
  
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin-right: 10px;
    font-size:17px;
    border-radius: 10px;
    @include trans(1s);
  }
  .dev-button:hover{
    text-shadow: $c3;
    text-shadow: 0 0 30px $c6,  0 0 20px $c6;
  
  }

  .scrap-info{
    font-family: anton;
    letter-spacing: 0.5px;
    text-align: left;
    font-size:20px;
  }
  .scrap-node{
    font-size:17px;
    margin-top:10px;
    
  }

  .search-item{

    font-size:20px;
    font-family:anton;
    letter-spacing: 0.5px;
  }
  .search-item-wrapper{
  
    max-width:900px;
    margin-left:180px;

    width: max-content;
    background-color:$c4;
    padding:40px;
    border-radius:20px;
  }
  .search-item-header{
    text-align: center;
    font-family: star-wars2;
  }
  
  ////// fix for grid going of
 

  .search-wrapper{
    @include trans(0.1s);
    z-index: 100;
    margin-bottom:20px;
    align-self: center;
  }
  .section-buttons{
  
    width: max-content;
  }
  .section-button{
    align-self: center;
    text-align: center;
    border-radius:20px;
    margin-top:10px;
    cursor: pointer;
    user-select: none;

  }
 


.section-header{
  font-size:40px;
  color:white;
  text-align: center;
}

.section-grid{
  overflow:visible;
  position: relative;
width:800px;
max-width:100vw;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
grid-gap: 10px;
justify-content: center;
}

.section-tittle{
  overflow: hidden;
  position: relative;
  letter-spacing: 2px;
  @include trans(0.5s);
  width:inherit;
  text-align: center;
  border-radius: 20px;
  margin-left:10px;
  font-family: star-wars;
 // font-size:30px;
 font-size:2.4rem;
  color:white !important;
  background-color:rgba(27, 26, 26, 0.787);

  padding:45px;

}

.section-tittle:hover {
  @include trans(0.5s);
  color:rgb(197, 60, 60) !important;
  font-family: star-wars2;
  box-shadow: 0 0 40px white;

  transform: translateY(-10px);
 
}
.button-magic{
  position:absolute;
  border-bottom: 10px;
  background-color: rgba(197, 60, 60, 0.705);
  border:1px solid ;
  height:2px;
  border-radius:2px;
 
  width:140px;
  margin-top:70px;
  opacity: 0;

  animation-iteration-count: infinite;
  animation-timing-function: ease;
 
}

.section-tittle:hover .button-magic{
  animation-name: underlineAnim;
  opacity:1;
  animation-duration: 5s;
}

@keyframes underlineAnim {
  0%{margin-left:-190px}
  100%{margin-left:300px}
}
.autor{
  font-family: star-wars2;
  color:rgb(180, 34, 34);
}

.item-button{
  cursor: pointer;
  overflow: hidden;
  position: relative;

  @include trans(0.5s);
  text-align: center;
  border-radius: 20px;
  margin-left:10px;
  font-family: star-wars;
  font-size:30px;
  color:white !important;
  background-color:rgba(27, 26, 26, 0.787);
  padding:40px;
}
.item-button:hover{
  @include trans(0.5s);
  color:rgb(197, 60, 60) !important;
  font-family: star-wars2;
 
  transform: translateY(-10px);
  background-color:rgb(27, 26, 26)
}

.section-subclass{
  font-size:22px;
}

.click-item-wrapper{
 
  max-width:900px;
  margin:auto;
  width:max-content;
  height: max-content;
  background-color:$c4;
  padding:40px;
  border-radius:20px;
 
  font-size:17px;

  
}
.click-item-tittle{
  margin-bottom:20px;
  
}

.navbar-wrapper{
  margin:100px;
  margin-top:0px;
}
.submit-glass{
  cursor: pointer;
  margin-left:-100px;
  margin-right:20px;
}
.filter-button{
  cursor:pointer;
}

.back-buttons-offset{
  margin-left:-60px;
}
.tick-grid{
  
  position: absolute;
 
width:300px;
max-width:100vw;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(80px, max-content));
grid-gap: 10px;
justify-content: center;
margin-top:50px;
margin-left:-300px;

}

.checkboxes{
  font-family: star-wars2 !important;
}

.section-buttons-wrapper{
  margin-bottom: 100px;
}

.section-buttons-allign{
  display:flex;
    flex-flow:row wrap;
    align-items: center;
   align-content: center;
}
.destroy-earth-button{
  @include trans(1s);
  cursor: pointer;
 background-color:rgba(180, 34, 34, 0.459);
  padding:10px;
  font-size: 3rem;
  border-radius:20px;
  text-align: center;
  margin-top:40px;

}
.destroy-earth-button:hover{
  color:rgba(180, 34, 34, 0.788);;
  background-color: rgba(0, 0, 0, 0.61);
}


.node-font{
  font-family: anton !important;
}